# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = JimSchofield
email = oldcoyote@gmail.com

[alias]
    fb = "!git checkout $(git branch | fzf)"
    ll = "log --oneline"
